.Tree {
    position: relative;
    width: 100vw;
    height: 100vh;
    transform: scale(0.7);
    cursor: grab;
}

@media(min-width: 768px) {
    .Tree {
        transform: scale(0.8);
    }
}

@media(min-width: 1200px) {
    .Tree {
        transform: scale(1);
    }
}